# Python
*.pyc
.env
__pycache__/

# Nodejs
node_modules/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
secrets.auto.tfvars
*.tfvars

# General
archived/
build/
*.zip